.rectangle {
  width: 182px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(194, 168, 255, 0.3);
  display: flex;
  position: relative;
}

.square {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 19px;
  left: 11px;
}

.main {
  position: absolute;
  top: 0px;
}


.mainText {
  position: absolute;
  top: 9px;
  left: 47px;
  width: 138px;

  color: var(--material-theme-sys-light-on-surface, #1E1B1B);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  margin: 0px;
}



.mainInfo {
  color: var(--material-theme-sys-light-on-surface, #1E1B1B);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.15px;
  margin: 0px;

  width: 138px;

  position: absolute;
  top: 33px;
  left: 47px;
}

